@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}

:root{
    --main: rgb(96 165 250);
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(223, 237, 255);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4b4b4b;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4b4b4b;
  }